:host {
    cursor: pointer;
    touch-action: none;
    user-select: none;
    -webkit-user-select: none;
}

.track {
    position: relative;
    block-size: 100%;
    aspect-ratio: 1;
    align-self: center;
    border: 1px solid var(--track);
    border-radius: 100%;
    box-sizing: border-box;
}

.indicator {
    position: absolute;
    top: 0;
    left: 0;
    block-size: 12px;
    inline-size: 12px;
    background: var(--accent);
    border-radius: 100%;
    pointer-events: none;
}
