.track {
    position: relative;
    flex: 1;
    min-block-size: 0;
    cursor: pointer;
    touch-action: none;
    user-select: none;
    -webkit-user-select: none;
}

.track::before {
    background-color: var(--edge-strong);
    content: '';
    display: block;
    height: 1px;
    inset: 0;
    margin: auto;
    position: absolute;
}

.indicator {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    pointer-events: none;
}

.indicator::before {
    background-color: var(--indicator);
    content: '';
    display: block;
    height: 1px;
    inset: 0;
    margin-block: auto;
    position: absolute;
}

.indicator::after {
    background-color: var(--backdrop);
    border: 1px solid var(--indicator);
    bottom: 0;
    content: '';
    display: block;
    height: 9px;
    margin-block: auto;
    position: absolute;
    right: -5px;
    top: 0;
    width: 9px;
}
