body {
    background-color: rgb(36, 36, 34);
    min-height: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0;
}

html {
    height: 100%;
}

#canvas-container {
    position: relative;
}

hks-fps-counter {
    position: absolute;
    bottom: 0;
    right: 8px;
    transform: translateY(calc(100% + 8px));
    color: red;
    font-size: 16px;
    font-family: monospace;
}

canvas {
    display: block;
    margin: auto;
    padding: 0px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-shadow: 0px 2px 12px -2px rgba(0, 0, 0, 0.15);
}

.slider {
    box-sizing: border-box;
    cursor: pointer;
    height: 30px;
    width: 200px;
    margin: 0 6px;
    outline: none;
    position: relative;
}

.slider:before {
    background-color: grey;
    border-radius: 1px;
    bottom: 0;
    content: '';
    display: block;
    height: 2px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
}

.slider-indicator {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
}

.slider-indicator:before {
    background-color: white;
    border-radius: 1px;
    bottom: 0;
    content: '';
    display: block;
    height: 2px;
    left: 0;
    margin-bottom: auto;
    margin-top: auto;
    position: absolute;
    right: 0;
    top: 0;
}

.slider-indicator:after {
    background-color: rgb(36, 36, 34);
    border-radius: 1px;
    border: 1px solid white;
    bottom: 0;
    content: '';
    display: block;
    height: 12px;
    margin-bottom: auto;
    margin-top: auto;
    position: absolute;
    right: -6px;
    top: 0;
    width: 12px;
}
